@charset "UTF-8";

.fcR {
    color: #ff0000;
}

.cm-inner {
    width: 1200px;
    margin: 0 auto;
}

.header-nav {
    border-bottom: 1px solid #dddddd;
}

.header-logos {
    padding: 25px 0 20px;
    background: url(/img/bg_dott_border.png) repeat-x left top;
}

.header-nav-desc {
    float: left;
    width: 350px;
    padding: 30px 0 20px;
    font-size: 12px;
    font-size: 1.2rem;
}

.header-nav-list {
    float: right;
    width: 620px;
    padding: 30px 0 20px;
}

.header-nav-list li {
    display: inline-block;
    letter-spacing: 1px;
}
.header-nav-list li + li {
    margin-left: 30px;
}
.header-nav-list li a {
    display: block;
    text-align: center;
    font-size: 14px;
    font-size: 1.4rem;
    color: #000000;
    font-weight: bold;
}

.header-logos-img {
    float: left;
    width: 200px;
    height: 79px;
    text-indent: -9999px;
    background: url(/img/logo_tenshin.svg) no-repeat left center;
    background-size: 200px 79px;
}

.header-logos-social {
    float: right;
}

.header-logos-social li {
    float: left;
    width: 49px;
    height: 49px;
}

.header-logos-social li + li {
    margin-left: 20px;
}

.header-logos-social li a {

}

.header-logos-social li a.facebook {
    display: block;
    width: 49px;
    height: 49px;
    text-indent: -9999px;
    background: url(/img/sprite/sprite_social.svg) no-repeat;
    background-size: 49px 49px;
    background-position: 55px 300px;
}