@charset "UTF-8";
.main-side-category-head {
  padding: 10px 15px;
  color: #ffffff;
  background-color: #181818;
  font-size: 16px;
  font-size: 1.6rem;
  font-weight: bold; }

.sideList__head {
  padding: 15px 15px 15px 0;
  border-top: 3px solid #181818;
  border-bottom: 3px solid #181818;
  color: #ffffff;
  font-size: 16px;
  font-size: 1.6rem;
  font-weight: bold; }

.sideList__body li {
  border-bottom: 1px dashed #B3B3B3; }
  .sideList__body li a {
    position: relative;
    display: block;
    padding: 17px 20px 17px 20px;
    font-size: 15px;
    font-size: 1.5rem;
    -webkit-transition: background-color 0.3s;
    -ms-transition: background-color 0.3s;
    -moz-transition: background-color 0.3s;
    transition: background-color 0.3s;
    font-family: 'Raleway'; }
    .sideList__body li a:after {
      content: "";
      position: absolute;
      right: 20px;
      top: 25px;
      width: 8px;
      height: 8px;
      margin-top: -5px;
      border-top: 1px solid #888888;
      border-right: 1px solid #888888;
      -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      -moz-transform: rotate(45deg);
      transform: rotate(45deg); }
    .sideList__body li a:hover {
      background-color: #e7e7e7; }

.main-side-left > section + section {
  margin-top: 50px; }

/*
//////////////////////////////////////////////////////////////////////
サイドバーランキング記事
//////////////////////////////////////////////////////////////////////
*/
.sideRanking__head {
  padding: 15px 15px 15px 0;
  border-top: 3px solid #181818;
  border-bottom: 3px solid #181818;
  color: #181818;
  font-size: 16px;
  font-size: 1.6rem; }

.sideRanking__body li {
  border-bottom: 1px dashed #B3B3B3; }
  .sideRanking__body li a {
    display: block;
    padding: 20px 10px;
    -webkit-transition: background-color 0.3s;
    -ms-transition: background-color 0.3s;
    -moz-transition: background-color 0.3s;
    transition: background-color 0.3s; }
    .sideRanking__body li a:hover {
      background-color: #e7e7e7; }

.sideRanking__body-inner {
  display: table; }

.sideRanking__body-inner-thum {
  position: relative;
  display: table-cell; }

.sideRanking__body-inner-thum-rank {
  text-indent: -9999px; }
  .sideRanking__body-inner-thum-rank:before {
    content: "";
    position: absolute;
    left: -7px;
    top: -12px;
    width: 29px;
    height: 24px; }
  .sideRanking__body-inner-thum-rank.rank1:before {
    background: url(../img/icon/icon_rank1.svg) no-repeat left top;
    background-size: 29px 24px; }
  .sideRanking__body-inner-thum-rank.rank2:before {
    background: url(../img/icon/icon_rank2.svg) no-repeat left top;
    background-size: 29px 24px; }
  .sideRanking__body-inner-thum-rank.rank3:before {
    background: url(../img/icon/icon_rank3.svg) no-repeat left top;
    background-size: 29px 24px; }
  .sideRanking__body-inner-thum-rank.rank_low:before {
    background: url(../img/icon/icon_lowrank.svg) no-repeat left top;
    background-size: 29px 24px; }

.sideRanking__body-inner-info {
  display: table-cell;
  padding-left: 10px;
  vertical-align: middle;
  font-size: 13px;
  font-size: 1.3rem;
  line-height: 1.5; }

/*
//////////////////////////////////////////////////////////////////////
サイドバーおすすめ記事
//////////////////////////////////////////////////////////////////////
*/
.pickup__head {
  padding: 15px 15px 15px 0;
  border-top: 3px solid #333333;
  border-bottom: 3px solid #333333;
  font-size: 16px;
  font-size: 1.6rem; }

.pickup__list-block {
  border-bottom: 1px dashed #B3B3B3; }
  .pickup__list-block a {
    display: table;
    width: 100%;
    padding: 20px 10px;
    box-sizing: border-box;
    -webkit-transition: background-color 0.3s;
    -ms-transition: background-color 0.3s;
    -moz-transition: background-color 0.3s;
    transition: background-color 0.3s; }
    .pickup__list-block a:hover {
      background-color: #e7e7e7; }

.pickup__list-block-thum {
  display: table-cell;
  padding-right: 10px; }

.pickup__list-block-desc {
  display: table-cell;
  vertical-align: middle;
  overflow: hidden; }

.pickup__list-block-desc-text-category + .pickup__list-block-desc-text {
  margin-top: 10px; }

.pickup__list-block-desc-text {
  font-size: 12px;
  font-size: 1.2rem;
  line-height: 1.3; }

.pickup__list-block-desc-text-category li {
  display: inline-block; }
  .pickup__list-block-desc-text-category li + li {
    margin-left: 10px; }

/*
//////////////////////////////////////////////////////////////////////
カテゴリーボタン
//////////////////////////////////////////////////////////////////////
*/
.cat-html, .cat-js {
  padding: 5px;
  background-color: #000000;
  color: #ffffff; }

/*
新着記事
////////////////////////////////////////////////////////////////////*/
.postlist-block-tag {
  position: relative;
  width: 100px;
  top: -26px;
  left: 0;
  margin: 0 0 -15px;
  border-radius: 0 0 2px 2px;
  -webkit-border-radius: 0 0 2px 2px;
  box-shadow: 0 10px 30px -8px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0 10px 30px -8px rgba(0, 0, 0, 0.2);
  text-align: center;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.3);
  -webkit-text-shadow: 0 1px 0 rgba(255, 255, 255, 0.3);
  line-height: 25px; }

.postlist-block-tag:before {
  position: absolute;
  top: -28%;
  left: -7px;
  content: "";
  border: 7px solid transparent;
  z-index: -1; }

.postlist-block-tag:after {
  position: absolute;
  top: -28%;
  right: -7px;
  content: "";
  border: 7px solid transparent;
  z-index: -1; }

.postlist-block-tag.html {
  background-color: lightcoral;
  background: -webkit-gradient(linear, left top, left bottom, from(#f29c96), to(lightcoral));
  background: -webkit-linear-gradient(#f29c96, lightcoral);
  background: -moz-linear-gradient(#f29c96, lightcoral);
  background: -o-linear-gradient(#f29c96, lightcoral);
  background: linear-gradient(#f29c96, lightcoral);
  color: indianred; }

.postlist-block-tag.html:before {
  border-bottom-color: #DA6767; }

.postlist-block-tag.html:after {
  border-bottom-color: #DA6767; }

.postlist-block-tag.js {
  background-color: #2b7cf0;
  background: -webkit-gradient(linear, left top, left bottom, from(#28c0f2), to(#2b7cf0));
  background: -webkit-linear-gradient(#28c0f2, #2b7cf0);
  background: -moz-linear-gradient(#28c0f2, #2b7cf0);
  background: -o-linear-gradient(#28c0f2, #2b7cf0);
  background: linear-gradient(#28c0f2, #2b7cf0);
  color: #225ccd; }

.postlist-block-tag.js:before {
  border-bottom-color: #225ccd; }

.postlist-block-tag.js:after {
  border-bottom-color: #225ccd; }

.postlist-block-tag.css {
  background-color: #3cdc43;
  background: -webkit-gradient(linear, left top, left bottom, from(#3cdc43), to(#42ad44));
  background: -webkit-linear-gradient(#3cdc43, #42ad44);
  background: -moz-linear-gradient(#3cdc43, #42ad44);
  background: -o-linear-gradient(#3cdc43, #42ad44);
  background: linear-gradient(#3cdc43, #42ad44);
  color: #1a9625; }

.postlist-block-tag.css:before {
  border-bottom-color: #1a9625; }

.postlist-block-tag.css:after {
  border-bottom-color: #1a9625; }

.postlist-block-tag.zen {
  background-color: #6f6f6f;
  background: -webkit-gradient(linear, left top, left bottom, from(#aeaeae), to(#6f6f6f));
  background: -webkit-linear-gradient(#aeaeae, #6f6f6f);
  background: -moz-linear-gradient(#aeaeae, #6f6f6f);
  background: -o-linear-gradient(#aeaeae, #6f6f6f);
  background: linear-gradient(#aeaeae, #6f6f6f);
  color: #1b1b1b; }

.postlist-block-tag.zen:before {
  border-bottom-color: #1b1b1b; }

.postlist-block-tag.zen:after {
  border-bottom-color: #1b1b1b; }

.postlist-block-tag.web {
  background-color: #cea726;
  background: -webkit-gradient(linear, left top, left bottom, from(#fcd229), to(#cea726));
  background: -webkit-linear-gradient(#fcd229, #cea726);
  background: -moz-linear-gradient(#fcd229, #cea726);
  background: -o-linear-gradient(#fcd229, #cea726);
  background: linear-gradient(#fcd229, #cea726);
  color: #a68b1e; }

.postlist-block-tag.web:before {
  border-bottom-color: #a68b1e; }

.postlist-block-tag.web:after {
  border-bottom-color: #a68b1e; }

.postlist-block-tag.wp {
  background-color: #ce35c3;
  background: -webkit-gradient(linear, left top, left bottom, from(#ec67e4), to(#ce35c3));
  background: -webkit-linear-gradient(#ec67e4, #ce35c3);
  background: -moz-linear-gradient(#ec67e4, #ce35c3);
  background: -o-linear-gradient(#ec67e4, #ce35c3);
  background: linear-gradient(#ec67e4, #ce35c3);
  color: #a62a7d; }

.postlist-block-tag.wp:before {
  border-bottom-color: #a62a7d; }

.postlist-block-tag.wp:after {
  border-bottom-color: #a62a7d; }

.postlist-block-tag.days {
  background-color: #e04d10;
  background: -webkit-gradient(linear, left top, left bottom, from(#f6781a), to(#e04d10));
  background: -webkit-linear-gradient(#f6781a, #e04d10);
  background: -moz-linear-gradient(#f6781a, #e04d10);
  background: -o-linear-gradient(#f6781a, #e04d10);
  background: linear-gradient(#f6781a, #e04d10);
  color: #a61f0f; }

.postlist-block-tag.days:before {
  border-bottom-color: #a61f0f; }

.postlist-block-tag.days:after {
  border-bottom-color: #a61f0f; }
