/*
//////////////////////////////////////////////////////////////////////
common
//////////////////////////////////////////////////////////////////////
*/
.section {
  border-top: 3px solid #85A063; }

.section + .section {
  margin-top: 65px; }

.pickup,
.ranking,
.blog {
  position: relative;
  padding: 45px 0 0; }

.section-head {
  position: absolute;
  top: -18px;
  right: 0;
  left: 0;
  width: 205px;
  height: 31px;
  margin: auto;
  text-align: center;
  color: #c9ab2d;
  font-size: 21px;
  font-size: 2.1rem;
  font-weight: bold; }
  .section-head .en {
    display: block;
    padding: 5px 30px;
    background: url(../img/husky_bg.png);
    box-sizing: border-box; }

/*
//////////////////////////////////////////////////////////////////////
header
//////////////////////////////////////////////////////////////////////
*/
.header {
  position: relative;
  width: 100%;
  min-width: 1200px;
  height: 258px;
  z-index: 10;
  border-top: 20px solid #85A063;
  background: url(../img/bg_head_paper.png) no-repeat bottom center; }

.header-logo {
  position: absolute;
  left: 0;
  top: -30px;
  right: 0;
  bottom: 0;
  width: 240px;
  height: 182px;
  margin: auto; }

.header-logo a {
  display: block;
  width: 240px;
  height: 182px;
  text-indent: -9999px;
  background: url(../img/logo_sunmoon.svg) no-repeat;
  background-size: 240px 182px; }

.header-nav {
  position: absolute;
  left: 50%;
  top: 0;
  width: 1200px;
  margin-left: -600px; }

.header-nav-list .top {
  position: absolute;
  left: 100px;
  top: 160px; }

.header-nav-list .about {
  position: absolute;
  left: 400px;
  top: 160px; }

.header-nav-list .contact {
  position: absolute;
  right: 400px;
  top: 160px; }

.header-nav-list .link {
  position: absolute;
  right: 100px;
  top: 160px; }

/*
//////////////////////////////////////////////////////////////////////
kv
//////////////////////////////////////////////////////////////////////
*/
.kv {
  margin-top: -100px;
  border-bottom: 7px solid #85A063; }
  .kv img {
    vertical-align: bottom; }

.kv-outer {
  height: 400px;
  margin-bottom: 3px;
  border-bottom: 3px solid #85A063;
  overflow: hidden; }

.kv-inner {
  position: relative; }

.kv-inner li {
  display: none;
  position: absolute;
  left: 0;
  top: 0; }

.kv-inner li img {
  display: block; }

/*
//////////////////////////////////////////////////////////////////////
pickup
//////////////////////////////////////////////////////////////////////
*/
.pickup-list {
  float: left;
  width: 180px;
  margin-right: 24px; }

.pickup-list:last-child {
  margin-right: 0; }

.pickup-list-head {
  font-size: 14px;
  font-size: 1.4rem;
  line-height: 1.5;
  padding-top: 13px;
  font-family: 'quicksand'; }

/*
//////////////////////////////////////////////////////////////////////
ranking
//////////////////////////////////////////////////////////////////////
*/
.ranking-wrap {
  margin: 0 -20px 0 -20px; }

.ranking-top-list {
  float: left;
  width: 25%;
  padding: 0 20px;
  box-sizing: border-box; }

.ranking-top-list-image img {
  width: 100%;
  height: auto; }

.ranking-top-list a {
  display: block; }

.ranking-top-list-head {
  font-size: 15px;
  font-size: 1.5rem;
  line-height: 1.5;
  padding-top: 13px;
  font-family: 'quicksand'; }

.ranking-under {
  margin: 40px auto 0; }

.ranking-under-list {
  float: left;
  width: 16.6666666667%;
  padding: 0 20px;
  box-sizing: border-box; }

.ranking-under-list-head {
  font-size: 14px;
  font-size: 1.4rem;
  line-height: 1.5;
  padding-top: 13px;
  font-family: 'quicksand'; }

.ranking-under-list a {
  display: block; }

.ranking-under-list-image img {
  width: 100%;
  height: auto; }

/*
//////////////////////////////////////////////////////////////////////
New Post
//////////////////////////////////////////////////////////////////////
*/
.blog-top-newpost {
  float: left;
  width: 40%;
  padding: 0 20px 0;
  box-sizing: border-box; }

.blog-top-newpost-head {
  margin-top: 10px;
  font-size: 18px;
  font-size: 1.8rem;
  line-height: 1.4;
  -webkit-transition: color 0.3s;
  transition: color 0.3s; }

.blog-top-newpost-info-date {
  display: block;
  margin-top: 10px;
  font-size: 13px;
  font-size: 1.3rem;
  text-align: right;
  -webkit-transition: color 0.3s;
  transition: color 0.3s; }

.blog-top-newpost-info-detail {
  margin-top: 5px;
  font-size: 15px;
  font-size: 1.5rem;
  line-height: 1.5;
  -webkit-transition: color 0.3s;
  transition: color 0.3s; }

.blog-top-newpost-thum {
  padding: 10px;
  background-color: #fff; }

.blog-top-newpost-thum img {
  width: 100%;
  height: auto; }

/*
//////////////////////////////////////////////////////////////////////
Blog
//////////////////////////////////////////////////////////////////////
*/
.blog-top,
.blog-under {
  margin: 0 -20px 0 -20px; }

.blog-top-secound {
  float: left;
  width: 60%; }

.blog-top-secound .bloglist {
  float: left;
  width: 33.333%;
  margin-bottom: 30px;
  padding: 0 20px;
  box-sizing: border-box; }

.bloglist a {
  display: block; }

.bloglist-thum {
  position: relative; }

.bloglist-thum-tag {
  display: table;
  position: absolute;
  top: 0;
  right: 0; }

.bloglist-thum-tag span {
  display: table-cell;
  height: 22px;
  padding: 0 15px;
  border-left: 1px solid #fff;
  background: #f3f3f3;
  color: #434343;
  font-size: 12px;
  font-size: 1.2rem;
  vertical-align: middle;
  text-align: center; }

.bloglist-thum-img img {
  width: 100%;
  height: auto;
  vertical-align: middle; }

.bloglist-info-date {
  display: block;
  margin-top: 10px;
  font-size: 13px;
  font-size: 1.3rem;
  -webkit-transition: color 0.3s;
  transition: color 0.3s; }

.bloglist-info-head {
  margin-top: 5px;
  font-size: 14px;
  font-size: 1.4rem;
  font-weight: bold;
  line-height: 1.4;
  -webkit-transition: color 0.3s;
  transition: color 0.3s; }

.blog-under-inner .bloglist {
  float: left;
  width: 20%;
  margin-bottom: 30px;
  padding: 0 20px;
  box-sizing: border-box; }
