@charset "UTF-8";

.fcR {
	color: #ff0000;
}

.cm-wrapper {
	position: relative;
}

.cm-inner {
	width: 1200px;
	margin: 0 auto;
}

.header {
	position: relative;
	border-bottom: 7px solid #181818;
}

.header-upper {
	height: 7px;
	background-color: #181818;
}

.header-logos-inner {
	position: relative;
	height: 210px;
}

.header-logos-img {
	position: absolute;
	left: 65px;
	top: 65px;
	a {
		display: block;
		float: left;
		width: 303px;
		height: 80px;
	}
}

.header-logos-nav {
	float: right;
	ul {
		border-left: 1px solid #181818;
		border-right: 1px solid #181818;
		li {
			float: left;
			width: 150px;
			height: 210px;
			+ li {
				border-left: 1px solid #181818;
			}
		}
	}
}

.header-logos-nav-list {
	position: relative;
	display: block;
	width: 150px;
	height: 210px;

	&:after {
		content: "";
		position: absolute;
		left: 59px;
		bottom: 40px;
		width: 30px;
		height: 30px;
		background: url(../img/icon/icon_gnav.svg) no-repeat;
		background-size: 30px 30px;
	}
}

.header-logos-nav ul li span {
	color: #ededed;
}

.header-logos-nav ul li a:hover,
.header-logos-nav ul li a.current {
	background: url(../img/bg_stripe.svg);
}

.header-logos-nav-list-inner {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	width: 150px;
	height: 31px;
	margin: auto;
	text-align: center;
	font-family: 'Raleway';
}

.header-logos-nav-list-head {
	font-size: 13px;
	font-size: 1.3rem;
	font-weight: bold;
}

.header-logos-nav-list-ruby {
	margin-top: 10px;
	font-size: 10px;
	font-size: 1rem;
}

.main {
	margin: 50px 0 120px;
}

.footer {
	padding: 20px 0;
	background-color: #181818;
}

.btn-pagetotop {
	display: none;
	position: absolute;
	right: 50px;
	bottom: 120px;
	width: 60px;
	height: 60px;
	z-index: 300;

	a {
		display: block;
		width: 60px;
		height: 60px;
		border-radius: 50%;
		background-color: #000000;
		text-indent: -9999px;

		&:after {
			border-left: 1px solid #FFF;
			border-top: 1px solid #FFF;
			position: absolute;
			top: 26px;
			left: 21px;
			display: block;
			content: "";
			width: 17px;
			height: 17px;
			-webkit-transform: rotate(45deg);
			-ms-transform: rotate(45deg);
			-moz-transform: rotate(45deg);
			transform: rotate(45deg);
		}
	}
}