@charset "UTF-8";

.main-side-category-head {
	padding: 10px 15px;
	color: #ffffff;
	background-color: #708a4f;
	font-size: 16px;
	font-size: 1.6rem;
	font-weight: bold;
}

.sideList__head {
	padding: 15px 15px 15px 0;
	border-top: 3px solid #708a4f;
	border-bottom: 3px solid #708a4f;
	color: #ffffff;
	font-size: 16px;
	font-size: 1.6rem;
	font-weight: bold;
}

.sideList__body li {
	border-bottom: 1px dashed #B3B3B3;
	a {
		position: relative;
		display: block;
		padding: 17px 20px 17px 20px;
		font-size: 15px;
		font-size: 1.5rem;
		-webkit-transition: background-color 0.3s;
		-ms-transition: background-color 0.3s;
		-moz-transition: background-color 0.3s;
		transition: background-color 0.3s;
		font-family: 'Raleway';
		&:after {
			content: "";
			position: absolute;
			right: 20px;
			top: 25px;
			width: 8px;
			height: 8px;
			margin-top: -5px;
			border-top: 1px solid #888888;
			border-right: 1px solid #888888;
			-webkit-transform: rotate(45deg);
			-ms-transform: rotate(45deg);
			-moz-transform: rotate(45deg);
			transform: rotate(45deg);
		}
		&:hover {
			background-color: #e7e7e7;
		}
	}
}

.main-side-left > section + section {
	margin-top: 50px;
}

/*
//////////////////////////////////////////////////////////////////////
サイドバーランキング記事
//////////////////////////////////////////////////////////////////////
*/

.sideRanking__head {
	padding: 15px 15px 15px 0;
	border-top: 3px solid #708a4f;
	border-bottom: 3px solid #708a4f;
	color: #708a4f;
	font-size: 16px;
	font-size: 1.6rem;
}

.sideRanking__body li {
	border-bottom: 1px dashed #B3B3B3;
	a {
		display: block;
		padding: 20px 10px;
		-webkit-transition: background-color 0.3s;
		-ms-transition: background-color 0.3s;
		-moz-transition: background-color 0.3s;
		transition: background-color 0.3s;
		&:hover {
			background-color: #e7e7e7;
		}
	}
}

.sideRanking__body-inner {
	display: table;
}

.sideRanking__body-inner-thum {
	position: relative;
	display: table-cell;
}

.sideRanking__body-inner-thum-rank {
	text-indent: -9999px;
	&:before {
		content: "";
		position: absolute;
		left: -7px;
		top: -12px;
		width: 29px;
		height: 24px;
	}
	&.rank1:before {
		background: url(../img/icon/icon_rank1.svg) no-repeat left top;
		background-size: 29px 24px;
	}
	&.rank2:before {
		background: url(../img/icon/icon_rank2.svg) no-repeat left top;
		background-size: 29px 24px;
	}
	&.rank3:before {
		background: url(../img/icon/icon_rank3.svg) no-repeat left top;
		background-size: 29px 24px;
	}
	&.rank_low:before {
		background: url(../img/icon/icon_lowrank.svg) no-repeat left top;
		background-size: 29px 24px;
	}
}

.sideRanking__body-inner-info {
	display: table-cell;
	padding-left: 10px;
	vertical-align: middle;
	font-size: 13px;
	font-size: 1.3rem;
	line-height: 1.5;
}

/*
//////////////////////////////////////////////////////////////////////
サイドバーおすすめ記事
//////////////////////////////////////////////////////////////////////
*/

.pickup__head {
	padding: 15px 15px 15px 0;
	border-top: 3px solid #333333;
	border-bottom: 3px solid #333333;
	font-size: 16px;
	font-size: 1.6rem;
}

.pickup__list-block {
	border-bottom: 1px dashed #B3B3B3;
	a {
		display: table;
		width: 100%;
		padding: 20px 10px;
		box-sizing: border-box;
		-webkit-transition: background-color 0.3s;
		-ms-transition: background-color 0.3s;
		-moz-transition: background-color 0.3s;
		transition: background-color 0.3s;
		&:hover {
			background-color: #e7e7e7;
		}
	}
}

.pickup__list-block-thum {
	display: table-cell;
	padding-right: 10px;
}

.pickup__list-block-desc {
	display: table-cell;
	vertical-align: middle;
	overflow: hidden;
}

.pickup__list-block-desc-text-category + .pickup__list-block-desc-text {
	margin-top: 10px;
}

.pickup__list-block-desc-text {
	font-size: 12px;
	font-size: 1.2rem;
	line-height: 1.3;
}

.pickup__list-block-desc-text-category li {
	display: inline-block;
	+ li {
		margin-left: 10px;
	}
}

/*
//////////////////////////////////////////////////////////////////////
カテゴリーボタン
//////////////////////////////////////////////////////////////////////
*/

.cat-html, .cat-js {
	padding: 5px;
	background-color: #000000;
	color: #ffffff;
}

/*
//////////////////////////////////////////////////////////////////////
新着記事
//////////////////////////////////////////////////////////////////////
*/
.blog-list-tag {
	position: relative;
	width: 100px;
	top: -26px;
	left: 0;
	margin: 0 0 -15px;
	border-radius: 0 0 2px 2px;
	-webkit-border-radius: 0 0 2px 2px;
	box-shadow: 0 10px 30px -8px rgba(0, 0, 0, 0.2);
	-webkit-box-shadow: 0 10px 30px -8px rgba(0, 0, 0, 0.2);
	text-align: center;
	text-shadow: 0 1px 0 rgba(255, 255, 255, 0.3);
	-webkit-text-shadow: 0 1px 0 rgba(255, 255, 255, 0.3);
	line-height: 25px;
}

.blog-list-tag:before {
	position: absolute;
	top: -28%;
	left: -7px;
	content: "";
	border: 7px solid transparent;
	z-index: -1;
}

.blog-list-tag:after {
	position: absolute;
	top: -28%;
	right: -7px;
	content: "";
	border: 7px solid transparent;
	z-index: -1;
}

//タグ色定義
.blog-list-tag.html {
	background-color: lightcoral;
	background: -webkit-gradient(linear, left top, left bottom, from(#f29c96), to(lightcoral));
	background: -webkit-linear-gradient(#f29c96, lightcoral);
	background: -moz-linear-gradient(#f29c96, lightcoral);
	background: -o-linear-gradient(#f29c96, lightcoral);
	background: linear-gradient(#f29c96, lightcoral);
	color: indianred;
}

.blog-list-tag.html:before {
	border-bottom-color: #DA6767;
}

.blog-list-tag.html:after {
	border-bottom-color: #DA6767;
}

.blog-list-tag.js {
	background-color: #2b7cf0;
	background: -webkit-gradient(linear, left top, left bottom, from(#28c0f2), to(#2b7cf0));
	background: -webkit-linear-gradient(#28c0f2, #2b7cf0);
	background: -moz-linear-gradient(#28c0f2, #2b7cf0);
	background: -o-linear-gradient(#28c0f2, #2b7cf0);
	background: linear-gradient(#28c0f2, #2b7cf0);
	color: #225ccd;
}

.blog-list-tag.js:before {
	border-bottom-color: #225ccd;
}

.blog-list-tag.js:after {
	border-bottom-color: #225ccd;
}

.blog-list-tag.css {
	background-color: #3cdc43;
	background: -webkit-gradient(linear, left top, left bottom, from(#3cdc43), to(#42ad44));
	background: -webkit-linear-gradient(#3cdc43, #42ad44);
	background: -moz-linear-gradient(#3cdc43, #42ad44);
	background: -o-linear-gradient(#3cdc43, #42ad44);
	background: linear-gradient(#3cdc43, #42ad44);
	color: #1a9625;
}

.blog-list-tag.css:before {
	border-bottom-color: #1a9625;
}

.blog-list-tag.css:after {
	border-bottom-color: #1a9625;
}

.blog-list-tag.zen {
	 background-color: #6f6f6f;
	 background: -webkit-gradient(linear, left top, left bottom, from(#aeaeae), to(#6f6f6f));
	 background: -webkit-linear-gradient(#aeaeae, #6f6f6f);
	 background: -moz-linear-gradient(#aeaeae, #6f6f6f);
	 background: -o-linear-gradient(#aeaeae, #6f6f6f);
	 background: linear-gradient(#aeaeae, #6f6f6f);
	 color: #1b1b1b;
 }

.blog-list-tag.zen:before {
	border-bottom-color: #1b1b1b;
}

.blog-list-tag.zen:after {
	border-bottom-color: #1b1b1b;
}

.blog-list-tag.web {
	background-color: #cea726;
	background: -webkit-gradient(linear, left top, left bottom, from(#fcd229), to(#cea726));
	background: -webkit-linear-gradient(#fcd229, #cea726);
	background: -moz-linear-gradient(#fcd229, #cea726);
	background: -o-linear-gradient(#fcd229, #cea726);
	background: linear-gradient(#fcd229, #cea726);
	color: #a68b1e;
}

.blog-list-tag.web:before {
	border-bottom-color: #a68b1e;
}

.blog-list-tag.web:after {
	border-bottom-color: #a68b1e;
}

.blog-list-tag.wp {
	background-color: #ce35c3;
	background: -webkit-gradient(linear, left top, left bottom, from(#ec67e4), to(#ce35c3));
	background: -webkit-linear-gradient(#ec67e4, #ce35c3);
	background: -moz-linear-gradient(#ec67e4, #ce35c3);
	background: -o-linear-gradient(#ec67e4, #ce35c3);
	background: linear-gradient(#ec67e4, #ce35c3);
	color: #a62a7d;
}

.blog-list-tag.wp:before {
	border-bottom-color: #a62a7d;
}

.blog-list-tag.wp:after {
	border-bottom-color: #a62a7d;
}

.blog-list-tag.days {
	background-color: #e04d10;
	background: -webkit-gradient(linear, left top, left bottom, from(#f6781a), to(#e04d10));
	background: -webkit-linear-gradient(#f6781a, #e04d10);
	background: -moz-linear-gradient(#f6781a, #e04d10);
	background: -o-linear-gradient(#f6781a, #e04d10);
	background: linear-gradient(#f6781a, #e04d10);
	color: #a61f0f;
}

.blog-list-tag.days:before {
	border-bottom-color: #a61f0f;
}

.blog-list-tag.days:after {
	border-bottom-color: #a61f0f;
}


/*
//////////////////////////////////////////////////////////////////////
blogListBlock
//////////////////////////////////////////////////////////////////////
*/

.blog-list {
	float: left;
	width: 268px;
	display: block;
	margin: 0 16px 25px 16px;
	border: 1px solid #dfdfdf;
	box-sizing: border-box;
}

.blog-list a {
	display: block;
	padding: 18px;
	background-color: #ffffff;
	box-sizing: border-box;
	box-shadow: 1px 1px 6px #7C7C7C;
}

.blog-list-head {
	margin: 0 0 15px;
	color: #434343;
	font-size: 16px;
	font-size: 1.6rem;
	font-weight: normal !important;
	line-height: 1.2;
}

.blog-list-thum {
	margin: 0 0 15px;
	text-align: center;
}

.blog-list-thum img {
	max-width: 230px;
	width: auto !important;
}

.blog-list-info {
	color: #434343;
	font-size: 14px;
	font-size: 1.4rem;
	line-height: 1.7;
}

.blog-list-info-date {
	display: block;
	margin: 0 0 5px;
	color: #434343;
	line-height: 1;
}

/*
//////////////////////////////////////////////////////////////////////
more
//////////////////////////////////////////////////////////////////////
*/
.postlist-more {
	width: 100%;
	margin: 20px auto 0;
}

.postlist-more-btn a {
	position: relative;
	display: block;
	padding: 17px 15px;
	border-radius: 5px;
	background-color: #708a4f;
	color: #ffffff;
	font-size: 16px;
	font-size: 1.6rem;
	text-align: center;
	box-shadow: 0 2px 4px #b6b6b6;
	-webkit-transition: background-color 0.3s;
	-ms-transition: background-color 0.3s;
	-moz-transition: background-color 0.3s;
	transition: background-color 0.3s;
}

.postlist-more-btn a:hover {
	background-color: #FF8C00;
}

.postlist-more-btn a:after {
	content: "";
	position: absolute;
	right: 25px;
	top: 23px;
	width: 15px;
	height: 15px;
	margin-top: -5px;
	border-top: 1px solid #ffffff;
	border-right: 1px solid #ffffff;
	-webkit-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	transform: rotate(45deg);
}

.postlist-more-list {
	margin-top: 20px;
	text-align: center;
}

.postlist-more-list li {
	display: inline-block;
}

.postlist-more-list li + li {
	margin-left: 10px;
}

.postlist-more-list li a {
	position: relative;
	display: block;
	width: 40px;
	height: 40px;
	border: 1px solid #666666;
	border-radius: 5px;
	font-size: 17px;
	font-size: 1.7rem;
	box-sizing: border-box;
	box-shadow: 0 2px 4px #b6b6b6;
	-webkit-transition: background-color 0.3s;
	-ms-transition: background-color 0.3s;
	-moz-transition: background-color 0.3s;
	transition: background-color 0.3s;
}

.postlist-more-list li a:hover {
	background-color: #FF8C00;
}

.postlist-more-list li a span {
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	margin: auto;
	width: 35px;
	height: 15px;
}
