@charset "UTF-8";

/*
//////////////////////////////////////////////////////////////////////
header
//////////////////////////////////////////////////////////////////////
*/
.header {
	position: relative;
	width: 100%;
	height: 295px;
	z-index: 10;
	border-top: 15px solid #85A063;
	background: url(../img/bg_header.png) no-repeat top center;
	background-size: 1200px 295px;
	background-color: #ffffff;
}

.header-logo {
	position: absolute;
	left: 0;
	top: -75px;
	right: 0;
	bottom: 0;
	width: 230px;
	height: 165px;
	margin: auto;

}

.header-logo a {
	display: block;
	width: 230px;
	height: 165px;
	text-indent: -9999px;
	background: url(../img/logo_circle.svg) no-repeat;
	background-size: 230px 165px;
}

.header-nav {
	position: absolute;
	left: 50%;
	top: 0;
	width: 1200px;
	margin-left: -600px;
}

.header-nav-list .top {
	position: absolute;
	left: 100px;
	top: 160px;
}

.header-nav-list .about {
	position: absolute;
	left: 400px;
	top: 160px;
}

.header-nav-list .contact {
	position: absolute;
	right: 400px;
	top: 160px;
}

.header-nav-list .link {
	position: absolute;
	right: 100px;
	top: 160px;
}


.main-side-left {
	float: left;
	width: 300px;
}

.main-contents {
	float: left;
	width: 860px;
	margin-left: 40px;
}

.main-contents-head {
	padding-right: 20px;
	padding-left: 20px;
	font-size: 16px;
	font-size: 1.6rem;
	background: #85A063;
	+ .postlist {
		margin-top: 40px;
	}
	span {
		display: inline-block;
		padding: 10px 30px;
		background: url(../img/husky_bg.png) center top fixed;
	}
}

.kv {
	border-bottom: 7px solid #85A063;
	img {
		vertical-align: bottom;
	}
}

.kv-outer {
	height: 350px;
	margin-top: 3px;
	margin-bottom: 3px;
	border-top: 3px solid #85A063;
	border-bottom: 3px solid #85A063;
	overflow: hidden;
}

.kv-inner {
	position: relative;
}

.kv-inner li {
	display: none;
	position: absolute;
	left: 0;
	top: 0;
}

.kv-inner li img {
	display: block;
}

/*
//////////////////////////////////////////////////////////////////////
新着記事
//////////////////////////////////////////////////////////////////////
*/

.newpost-body a {
	display: block;
	padding: 40px 0;
	-webkit-transition: background-color 0.3s;
	-ms-transition: background-color 0.3s;
	-moz-transition: background-color 0.3s;
	transition: background-color 0.3s;
	&:hover {
		background-color: #d8d8d8;
	}
}

.newpost-body-thum {
	float: left;
	width: 400px;
}

.newpost-body-info {
	float: left;
	width: 420px;
}

.newpost-body-thum + .newpost-body-info {
	margin-left: 20px;
}

.newpost-body-info-detail + .newpost-body-info-head {
	margin-top: 20px;
}

.newpost-body-info-head {
	color: #000000;
	font-size: 19px;
	font-size: 1.9rem;
	font-weight: bold;
	line-height: 1.4;
	+ .newpost-body-info-desc {
		margin-top: 15px;
	}
}

.newpost-body-info-desc {
	font-size: 15px;
	font-size: 1.5rem;
	line-height: 1.5;
}

.newpost-body-info-detail-category {
	float: right;
	li {
		display: inline-block;
		+ li {
			margin-left: 5px;
		}
	}
}

.newpost-body-info-detail-date {
	float: left;
	color: #000000;
	font-size: 19px;
	font-size: 1.9rem;
}

/*
//////////////////////////////////////////////////////////////////////
投稿一覧
//////////////////////////////////////////////////////////////////////
*/
.postlist {
	margin-right: -25px;
}
.postlist-block {
	float: left;
	width: 268px;
	display: block;
	margin: 0 25px 25px 0;
	border: 1px solid #aeb492;
	box-sizing: border-box;
}
.postlist-block a {
	display: block;
	padding: 18px;
	background-color: #ffffff;
	box-sizing: border-box;
}
.postlist-block-head {
	margin: 0 0 15px;
	font-size: 16px;
	font-size: 1.6rem;
	font-weight: bold;
	line-height: 1.2;
}
.postlist-block-thum {
	margin: 0 0 15px;
	text-align: center;
}
.postlist-block-thum img {
	max-width: 230px;
	width: auto !important;
}
.postlist-block-info {
	color: #000000;
	font-size: 14px;
	font-size: 1.4rem;
	line-height: 1.7;
}
.postlist-block-info-date {
	display: block;
	margin: 0 0 5px;
	line-height: 1;
}

/*
//////////////////////////////////////////////////////////////////////
次の投稿ボタン
//////////////////////////////////////////////////////////////////////
*/

.postlist-more {
	margin-top: 20px;
}

.postlist-more-btn a {
	position: relative;
	display: block;
	padding: 17px 15px;
	border-radius: 5px;
	background-color: #85A063;
	color: #ffffff;
	font-size: 16px;
	font-size: 1.6rem;
	text-align: center;
	box-shadow: 0 2px 4px #b6b6b6;
	-webkit-transition: background-color 0.3s;
	-ms-transition: background-color 0.3s;
	-moz-transition: background-color 0.3s;
	transition: background-color 0.3s;
	&:hover {
		background-color: #FF8C00;
	}
	&:after {
		content: "";
		position: absolute;
		right: 25px;
		top: 23px;
		width: 15px;
		height: 15px;
		margin-top: -5px;
		border-top: 1px solid #ffffff;
		border-right: 1px solid #ffffff;
		-webkit-transform: rotate(45deg);
		-ms-transform: rotate(45deg);
		-moz-transform: rotate(45deg);
		transform: rotate(45deg);
	}
}

.postlist-more-list {
	margin-top: 20px;
	text-align: center;
	li {
		display: inline-block;
		+ li {
			margin-left: 10px;
		}
		a {
			position: relative;
			display: block;
			width: 40px;
			height: 40px;
			border: 1px solid #666666;
			border-radius: 5px;
			font-size: 17px;
			font-size: 1.7rem;
			box-sizing: border-box;
			box-shadow: 0 2px 4px #b6b6b6;
			-webkit-transition: background-color 0.3s;
			-ms-transition: background-color 0.3s;
			-moz-transition: background-color 0.3s;
			transition: background-color 0.3s;
			&:hover {
				background-color: #FF8C00;
			}
			span {
				position: absolute;
				left: 0;
				top: 0;
				right: 0;
				bottom: 0;
				margin: auto;
				width: 35px;
				height: 15px;
			}
		}
	}
}
