@charset "UTF-8";

/*
//////////////////////////////////////////////////////////////////////
common
//////////////////////////////////////////////////////////////////////
*/
.section + .section {
	margin-top: 65px;
}

.section-head {
	position: relative;
	margin: 0 0 35px;
	text-align: center;
	color: #c9ab2d;
	font-size: 21px;
	font-size: 2.1rem;
	font-weight: bold;
	&:before {
		position: absolute;
		z-index: 0;
		top: 15px;
		display: block;
		width: 100%;
		height: 3px;
		margin: auto;
		content: '';
		background: #708a4f;
	}
	.en {
		position: relative;
		display: inline-block;
		padding: 5px 30px;
		background: url(../img/husky_bg.png);
	}
}

/*
//////////////////////////////////////////////////////////////////////
header
//////////////////////////////////////////////////////////////////////
*/
.header {
	position: relative;
	width: 100%;
	height: 295px;
	z-index: 10;
	border-top: 20px solid #708a4f;
	background: url(../img/bg_head.png) no-repeat top center;
}

.header-logo {
	position: absolute;
	left: 0;
	top: -25px;
	right: 0;
	bottom: 0;
	width: 230px;
	height: 165px;
	margin: auto;

}

.header-logo a {
	display: block;
	width: 230px;
	height: 165px;
	text-indent: -9999px;
	background: url(../img/logo_circle.svg) no-repeat;
	background-size: 230px 165px;
}

.header-nav {
	position: absolute;
	left: 50%;
	top: 0;
	width: 1200px;
	margin-left: -600px;
}

.header-nav-list .top {
	position: absolute;
	left: 100px;
	top: 160px;
}

.header-nav-list .about {
	position: absolute;
	left: 400px;
	top: 160px;
}

.header-nav-list .contact {
	position: absolute;
	right: 400px;
	top: 160px;
}

.header-nav-list .link {
	position: absolute;
	right: 100px;
	top: 160px;
}

/*
//////////////////////////////////////////////////////////////////////
kv
//////////////////////////////////////////////////////////////////////
*/
.kv {
	margin-top: -100px;
	border-bottom: 7px solid #708a4f;
	img {
		vertical-align: bottom;
	}
}

.kv-outer {
	height: 350px;
	margin-bottom: 3px;
	border-bottom: 3px solid #708a4f;
	overflow: hidden;
}

.kv-inner {
	position: relative;
}

.kv-inner li {
	display: none;
	position: absolute;
	left: 0;
	top: 0;
}

.kv-inner li img {
	display: block;
}


/*
//////////////////////////////////////////////////////////////////////
pickup
//////////////////////////////////////////////////////////////////////
*/
.pickup-list {
	float: left;
	width: 180px;
	margin-right: 24px;
}

.pickup-list:last-child {
	margin-right: 0;
}

.pickup-list-head {
	font-size: 14px;
	font-size: 1.4rem;
	line-height: 1.5;
	padding-top: 13px;
	font-family: 'quicksand';
}

/*
//////////////////////////////////////////////////////////////////////
ranking
//////////////////////////////////////////////////////////////////////
*/
.ranking-top-list {
	float: left;
	width: 218px;
	margin-right: 27px;
}

.ranking-top-list:last-child {
	margin-right: 0;
}

.ranking-top-list-image {
}

.ranking-top-list-image img {
	width: 100%;
	height: auto;
}

.ranking-top-list a {
	display: block;
}

.ranking-top-list-head {
	font-size: 15px;
	font-size: 1.5rem;
	line-height: 1.5;
	padding-top: 13px;
	font-family: 'quicksand';
}

.ranking-top + .ranking-under {
	margin-top: 30px;
}

.ranking-under-list {
	float: left;
	width: 185px;
	margin-right: 18px;
}

.ranking-under-list:last-child {
	margin-right: 0;
}

.ranking-under-list-head {
	font-size: 14px;
	font-size: 1.4rem;
	line-height: 1.5;
	padding-top: 13px;
	font-family: 'quicksand';
}


/*
//////////////////////////////////////////////////////////////////////
blog
//////////////////////////////////////////////////////////////////////
*/
.blog-wrap {
	width: 1200px;
}

.blog-list {
	float: left;
	width: 268px;
	display: block;
	margin: 0 16px 25px 16px;
	border: 1px solid #dfdfdf;
	box-sizing: border-box;
}

.blog-list a {
	display: block;
	padding: 18px;
	background-color: #ffffff;
	box-sizing: border-box;
}

.blog-list-head {
	margin: 0 0 15px;
	font-size: 16px;
	font-size: 1.6rem;
	font-weight: bold;
	line-height: 1.2;
}

.blog-list-thum {
	margin: 0 0 15px;
	text-align: center;
}

.blog-list-thum img {
	max-width: 230px;
	width: auto !important;
}

.blog-list-info {
	color: #000000;
	font-size: 14px;
	font-size: 1.4rem;
	line-height: 1.7;
}

.blog-list-info-date {
	display: block;
	margin: 0 0 5px;
	line-height: 1;
}

/*
//////////////////////////////////////////////////////////////////////
more
//////////////////////////////////////////////////////////////////////
*/
.postlist-more {
	width: 1170px;
	margin: 20px auto 0;
}

.postlist-more-btn a {
	position: relative;
	display: block;
	padding: 17px 15px;
	border-radius: 5px;
	background-color: #708a4f;
	color: #ffffff;
	font-size: 16px;
	font-size: 1.6rem;
	text-align: center;
	box-shadow: 0 2px 4px #b6b6b6;
	-webkit-transition: background-color 0.3s;
	-ms-transition: background-color 0.3s;
	-moz-transition: background-color 0.3s;
	transition: background-color 0.3s;
}

.postlist-more-btn a:hover {
	background-color: #FF8C00;
}

.postlist-more-btn a:after {
	content: "";
	position: absolute;
	right: 25px;
	top: 23px;
	width: 15px;
	height: 15px;
	margin-top: -5px;
	border-top: 1px solid #ffffff;
	border-right: 1px solid #ffffff;
	-webkit-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	transform: rotate(45deg);
}

.postlist-more-list {
	margin-top: 20px;
	text-align: center;
}

.postlist-more-list li {
	display: inline-block;
}

.postlist-more-list li + li {
	margin-left: 10px;
}

.postlist-more-list li a {
	position: relative;
	display: block;
	width: 40px;
	height: 40px;
	border: 1px solid #666666;
	border-radius: 5px;
	font-size: 17px;
	font-size: 1.7rem;
	box-sizing: border-box;
	box-shadow: 0 2px 4px #b6b6b6;
	-webkit-transition: background-color 0.3s;
	-ms-transition: background-color 0.3s;
	-moz-transition: background-color 0.3s;
	transition: background-color 0.3s;
}

.postlist-more-list li a:hover {
	background-color: #FF8C00;
}

.postlist-more-list li a span {
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	margin: auto;
	width: 35px;
	height: 15px;
}
